#top-nav{
  display: flex;
  width: 100%;
  min-height: 56px;
  height: 56px;
  background-color: lightskyblue;
}
#top-nav img{
  max-height: 50px;
  padding: 3px;
}
#top-logo{
  flex-grow: 1;
}
#top-search{
  flex-grow: 6;
}
#top-options{
  flex-grow: 1;
  text-align: right;
}