#bottom-nav{
  display: flex;
  width: 100%;
  min-height: 48px;
  position: fixed;
  bottom: 0;
  background-color: #6002ee;
  color: #fff
}
.bottom-nav-elem{
  width: 33.33333334%;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}
.current-nav-tab{
  text-decoration-line: underline;
  font-weight: 600;
}