#essential-wth{
  min-height: 200px;
  height: 90vh;
  background: linear-gradient(135deg, #78d8aa 0%,#50b1ed 52%,#4f68e9 100%);
}
#essential-wth-text{
  min-height: 100px;
  min-width: 100px;
  max-width: 40%;
  text-align: right;
  color:wheat;
}

#essential-wth-text h1,h2,h3,h4{
  font-weight: 400;
}

#essential-wth canvas{
  position: fixed;
  top: 0;
}