#essential-wth{
  min-height: 200px;
  height: 90vh;
  background-image: url("../../../../images/sunny.jpg");
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2467b4+0,3d8eff+11,43a5f5+21,3ed883+33,f2db2e+38,88f850+64,4cea44+81 */
  background: #2467b4; /* Old browsers */
  background: -moz-linear-gradient(top, #2467b4 0%, #3d8eff 11%, #43a5f5 21%, #3ed883 33%, #f2db2e 38%, #88f850 64%, #4cea44 81%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2467b4 0%,#3d8eff 11%,#43a5f5 21%,#3ed883 33%,#f2db2e 38%,#88f850 64%,#4cea44 81%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2467b4 0%,#3d8eff 11%,#43a5f5 21%,#3ed883 33%,#f2db2e 38%,#88f850 64%,#4cea44 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2467b4', endColorstr='#4cea44',GradientType=0 ); /* IE6-9 */
}
#essential-wth-text{
  min-height: 100px;
  min-width: 100px;
  max-width: 40%;
  text-align: right;
  color:wheat;
  
}

#essential-wth-text h1,h2,h3,h4{
  font-weight: 400;
}